<%= provide :page_title, "Рецепт №#{@prescription.number}" %>
<h1>Редагування рецепту</h1>

<%= render 'form', prescription: @prescription %>

<%= link_to 'Показати', @prescription %> |
<%= link_to 'Назад', prescriptions_path %>
