<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="<%= asset_path('drugs.png') %>"
          class="me-2"
          height="20"
          alt="PharmacyRi2022 Logo"
          loading="lazy"
          />
        <small>PharmacyRi2022</small>
      </a>
    </div>
  </nav>
</header>