<h1>Аптека</h1>
<ul>
  <li><%= link_to 'Ліки', products_path %></li>
  <li><%= link_to 'Замовлення', orders_path %></li>
  <li><%= link_to 'Рецепти', prescriptions_path %></li>
  <li><%= link_to 'Користувачі', users_path %></li>
</ul>
