<h1>Про цей застосунок</h1>
<h2>Аптека</h2>
<p>В аптеці можна купити ліки двух типів, з рецептом і без, номер рецепту має форму РЛХХХХХХ де X це цифри і термін дії. Рецепти зберігаються в окремій таблиці в базі даних, до якої доступ має лише лікар. Лікар може додавати рецепти, бачити які рецепти були використані, які ще ні. Фармацевт додає ліки на склад, додані ліки в свою чергу показуються користувачу.</p>
<p>Користувач реєструється в системі, обирає фастум гель і корвалол, а також Біоспорин який потребує рецепта, користувач вводить його, ця кількість препаратів бронюється на складі. Фармацевт підтверджує замовлення якщо система показує що рецепт має коректний номер, термін дії і не використовувався раніше. Або ж відхиляє з певною причиною яка вписується в поле коментаря. В такому випадку бронювання з кількості товару має знятись</p>
<ul>
  <li>Фармацевт при додаванні на склад товарів вказує їх ціну. При погашенні рецепта(переведенні замовлення в статус “виконано”) на рахунок лікаря відходить відсоток від продажу. Лікар може бачити зароблені гроші</li>
  <li>Користувач має власний кабінет де може побачити всі свої замовлення, і номера рецептів.</li>
  <li>Лікарів може бути декілька, номера їх рецептів не повинні співпадати. Рецепт має ознаку (дорослий, дитячий) Ліки по рецепту теж мають ознаку (дорослі, дитячі), неможливо придбати дорослі ліки з дитячим рецептом і навпаки.</li>
</ul>